<div class="app">
  <h1>- &nbsp; Dear Frinds &nbsp; -</h1>

  <div class="content" style="text-align: justify; padding: 10px">
    Hello friends, we are <br />
    Engineer <span style="color: brown">Ahmet Asaad Hammoud</span> <br />and
    <br />
    Engineer <span style="color: brown">Salih Arab</span>.
    <br />

    <br />
    <hr style="border: dashed 1px #d83939; margin: 20px" />
    We worked together to develop this game as a memory for all of us, so that
    we do not forget what we have been made to experience over the past 56
    years. I, Engineer Ahmet, was responsible for programming and development,
    while Engineer Salih contributed the creative ideas and core designs that
    shaped the game's identity.
    <br />
    <p style="text-align: center">&lt;art&gt;</p>
    <br />
    <img src="/assets/images/banamong.png" alt="jahish" width="100%" />
    <br />
    <p style="text-align: center">&lt;art&gt;</p>

    I wish us all a life full of love and hope, long live free Syria
    <br />
    <hr style="border: dashed 1px #d83939; margin: 20px" />
    Also, Do not forget to follow me on instagram for more &#64;yaa_salih<br />

    <br />
    <div style="font-size: small;display: flex;align-items: center;justify-content: end;color: #d83939">
      <img src="/assets/images/arrow.png" width="40px" alt="" />
    Go to <br> instagram

    </div>
    <div class="goToInstagram">
      <img src="/assets/images/insta.png" width="60px" alt="" />
      <a target="_blank" href="https://www.instagram.com/yaa_salih/"
        >Instagram</a
      >
    </div>
  </div>

  <div class="footer">
    <button class="ok" (click)="okBtn()" type="button">OK</button>
  </div>
</div>
