.app {
  background-color: rgb(211, 246, 235);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.header {
  align-items: anchor-center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header div.row {
  display: flex;
  color: #d83939;

}

.header div.row img.arrow {
  height: 19px;
  width: 31px;
}

.header div.coins {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 1.2rem;
  text-align: center;
}


.scroll-container {
  overflow: auto;
  /* يسمح بالتمرير */
  scrollbar-width: none;
  /* يخفي الشريط في Firefox */
  -ms-overflow-style: none;
  /* يخفي الشريط في Edge و IE */
}

*::-webkit-scrollbar {
  display: none;
  /* يخفي الشريط في Chrome و Safari */
}

button.ok {
  width: 200px;
  height: 60px;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(184, 225, 212);
  font-size: x-large;
}


.card-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 10px;
}

.card {
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 15px;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card.locked {
  pointer-events: none;
  opacity: 0.6;
}

.card input[type="radio"] {
  display: none;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 99%;
  justify-content: space-between;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card-image {
  width: 188px;
  height: 230px;
  padding-top: 15px;
  border-radius: 10px;
}

.name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.lock-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: none;
  transition: all 0.3s ease-in-out;
}

.card.locked .lock-overlay {
  display: block;
}

.lock-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #ffcc00;
  display: none;
  transition: all 0.3s ease-in-out;
}

.card.locked .lock-icon {
  display: block;
}

.unlock-info {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: bold;
  color: #ffcc00;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 10px;
  display: none;
  transition: all 0.3s ease-in-out;
}

.card.locked .unlock-info {
  display: block;
}

.card input[type="radio"]:checked + .card-content {
  border: 2px solid #4CAF50;
  transition: all 0.1s ease-in-out;
}
