<div class="app">
  <header class="header">
    <div class="row">
      <img
        src="/assets/images/btn_ads.png"
        class="user"
        alt="avatar"
        width="40px"
      />
      <img src="/assets/images/arrow.png" class="arrow" alt="arrow" />
      <small>Get 1.000 Coins</small>
    </div>
    <div class="coins">
      <img src="/assets/images/icon_gold.png" width="30px" alt="coin" />
      &nbsp; 0
    </div>
  </header>
  <h1>- &nbsp; Abbo Rakaba Family &nbsp; -</h1>

  <div class="content">
    <div class="card-container">
      <div
        *ngFor="let character of characters"
        class="card"
        [ngClass]="{ locked: coins < character.coinsToOpen }"
      >
        <input
          type="radio"
          id="person{{ character.id }}"
          name="person"
          [(ngModel)]="selectedCharacter"
          [value]="character.id"
          class="radio-btn"
        />
        <label for="person{{ character.id }}" class="card-content">
          <img
            src="/assets/animals/{{ character.id }}/all.png"
            alt="{{ character.name }}"
            class="card-image"
          />
          <div class="name">{{ character.name }}</div>
          <div class="lock-overlay" *ngIf="coins < character.coinsToOpen"></div>
          <div class="lock-icon" *ngIf="coins < character.coinsToOpen">🔒</div>
          <!-- نص يوضح عدد العملات المطلوبة لفتح الشخصية -->
          <div class="unlock-info" *ngIf="coins < character.coinsToOpen">
            {{ character.coinsToOpen - coins }}
          </div>
        </label>
      </div>
    </div>
  </div>

  <div class="footer">
    <button class="ok" (click)="okBtn()" type="button">OK</button>
  </div>
</div>
<ins
  class="adsbygoogle"
  style="display: block"
  data-ad-client="ca-app-pub-5565524465615006"
  data-ad-slot="6167490547"
  data-ad-format="auto"
  data-full-width-responsive="true"
></ins>